@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid middle-section bg-white">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="m-2">
                        <div class="card card-icon-top">
                            <div class="card-body">
                                <img src="~/Content/asset/images/samples/baomat.png" alt="image" class="card-icon">
                                <h4>Bảo mật dữ liệu tuyệt đối</h4>
                                <p class="card-text">
                                    Cam kết bảo vệ thông tin tài chính và dữ liệu khách hàng an toàn.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="m-2">
                        <div class="card card-icon-top">
                            <div class="card-body">
                                <img src="~/Content/asset/images/samples/support.png" alt="image" class="card-icon">
                                <h4>Cam kết hỗ trợ khách hàng 24/7</h4>
                                <p class="card-text">
                                    Đội ngũ hỗ trợ luôn sẵn sàng giúp bạn bất cứ lúc nào.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="m-2">
                        <div class="card card-icon-top">
                            <div class="card-body">
                                <img src="~/Content/asset/images/samples/nangcao.png" alt="image" class="card-icon">
                                <h4>Nâng cao hiệu quả kinh doanh</h4>
                                <p class="card-text">
                                    Giải pháp tối ưu giúp quản lý và phát triển bền vững.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-8 mx-auto">
                    <h3>Một số giao diện quản lý</h3>
                    <p class="font-weight-light">
                        Giao diện đơn giản, thân thiện và dễ sử dụng, giúp người dùng quản lý hộ kinh doanh một cách nhanh chóng và hiệu quả.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/dashboard.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <label class="badge badge-warning">Mới</label>
                                <h6 class="font-weight-normal mb-0">Trang quản lý</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/widgets.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <h6 class="font-weight-normal mb-0">Tiện ích</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/e-commerce.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <h6 class="font-weight-normal mb-0">Thương mại</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/email.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <h6 class="font-weight-normal mb-0">Email</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/charts.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <label class="badge badge-success">Mới</label>
                                <h6 class="font-weight-normal mb-0">Biểu đồ</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/editors.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <h6 class="font-weight-normal mb-0">Trính biên tập</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/forms.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <label class="badge badge-primary">Mới</label>
                                <h6 class="font-weight-normal mb-0">Biểu mẫu</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/popup.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <h6 class="font-weight-normal mb-0">Cửa sổ</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin">
                    <div class="m-3">
                        <div class="card card-item-preview">
                            <img class="card-img-top" src="~/Content/asset/images/samples/modal.png" alt="image">
                            <div class="card-body py-3 border-top">
                                <h6 class="font-weight-normal mb-0">Hành động</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bottom-section">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Tính năng hàng đầu</h3>
            <div class="feature-list">
                <div class="row feature-list-row">
                    <div class="col-lg-3 feature-list-item">
                        <i class="ti-briefcase"></i>
                        <h4>Quản lý doanh thu & chi phí</h4>
                        <p class="feature-description">
                            Theo dõi thu chi giúp kiểm soát tài chính dễ dàng.
                        </p>
                    </div>
                    <div class="col-lg-3 feature-list-item">
                        <i class="ti-target"></i>
                        <h4>
                            Tự động hóa sổ sách kế toán
                        </h4>
                        <p class="feature-description">Hỗ trợ lập báo cáo,
                        giảm sai sót, tiết kiệm thời gian.</p>
                    </div>
                    <div class="col-lg-3 feature-list-item">
                        <i class="ti-mobile"></i>
                        <h4>Báo cáo tài chính chi tiết</h4>
                        <p class="feature-description">Tổng hợp doanh thu, lợi nhuận, công nợ trực quan.</p>
                    </div>
                    <div class="col-lg-3 feature-list-item">
                        <i class="ti-face-smile"></i>
                        <h4>Quản lý hóa đơn & chứng từ</h4>
                        <p class="feature-description"> Lưu trữ, tra cứu hóa đơn nhanh chóng, tránh thất lạc giấy tờ.</p>
                    </div>
                </div>
                <div class="row feature-list-row">
                    <div class="col-lg-3 feature-list-item">
                        <i class="ti-layout-sidebar-left"></i>
                        <h4>Quản lý hàng tồn kho</h4>
                        <p class="feature-description">
                            Theo dõi nhập – xuất – tồn hàng, hạn chế thất thoát.
                        </p>
                    </div>
                    <div class="col-lg-3 feature-list-item">
                        <i class="ti-blackboard"></i>
                        <h4>Hỗ trợ nhiều hình thức thanh toán</h4>
                        <p class="feature-description">
                            Chấp nhận chuyển khoản, tiền mặt, tiện lợi cho khách hàng.
                        </p>
                    </div>
                    <div class="col-lg-3 feature-list-item">
                        <i class="ti-paint-bucket"></i>
                        <h4>Quản lý công nợ khách hàng</h4>
                        <p class="feature-description">
                            Theo dõi nợ khách hàng & nhà cung cấp, nhắc nhở thanh toán.
                        </p>
                    </div>
                    <div class="col-lg-3 feature-list-item">
                        <i class="ti-receipt"></i>
                        <h4>Bảo mật & sao lưu dữ liệu tự động</h4>
                        <p class="feature-description">
                            Mã hóa và sao lưu định kỳ, bảo vệ dữ liệu an toàn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page-body-wrapper">
    <div class="row row-offcanvas row-offcanvas-right">

        <!-- partial -->
        <!--<div class="content-wrapper">
            <div class="card-columns">
                <div class="card">
                    <img class="card-img-top" src="~/Content/asset/images/samples/300x300/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title that wraps to a new line</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis quam, sequi dolorum excepturi repudiandae atque dignissimos voluptatum aperiam!</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Content/asset/images/samples/300x300/9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title that wraps to a new line</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam deleniti</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Content/asset/images/samples/300x300/5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title that wraps to a new line</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo omnis, nesciunt neque quisquam deserunt, fugiat quasi sint recusandae, ipsa architecto quos adipisci facilis necessitatibus sequi repellat mollitia, minus maxime porro. Asperiores necessitatibus pariatur, sunt accusamus cupiditate. Voluptates.</p>
                    </div>
                </div>
            </div>-->

            <!-- partial -->
        <!--</div>-->

        
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="container text-center pt-5">
                                <h4 class="mb-3 mt-5">Khởi nghiệp kinh doanh ngay hôm nay</h4>
                                <p class="w-75 mx-auto mb-5">
                                    Chúng tôi cam kết hoàn tiền trong vòng 30 ngày nếu bạn không hài lòng với dịch vụ!
                                </p>
                                <div class="row pricing-table">
                                    <div class="col-md-4 grid-margin stretch-card pricing-card">
                                        <div class="card border-primary border pricing-card-body">
                                            <div class="text-center pricing-card-head">
                                                <h3>Free</h3>
                                                <p>Cơ bản</p>
                                                <h1 class="font-weight-normal mb-4">$00.00</h1>
                                            </div>
                                            <ul class="list-unstyled plan-features">
                                                <li>Dành cho hộ kinh doanh nhỏ</li>
                                                <li>Báo cáo tài chính đơn giản</li>
                                                <li>Quản lý hóa đơn và chứng từ cơ bản</li>
                                                <li>Hỗ trợ quản lý thuế theo Thông tư 88</li>
                                                <li>Hỗ trợ 1 người dùng đăng nhập</li>
                                                <li>Bảo mật dữ liệu</li>
                                            </ul>
                                            <div class="wrapper">
                                                <a href="#" class="btn btn-outline-primary btn-block">Sử dụng</a>
                                            </div>
                                            <p class="mt-3 mb-0 plan-cost text-gray">Miễn phí</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 grid-margin stretch-card pricing-card">
                                        <div class="card border border-success pricing-card-body">
                                            <div class="text-center pricing-card-head">
                                                <h3 class="text-success">Chuyên nghiệp</h3>
                                                <p>Dành cho doanh nghiệp</p>
                                                <h1 class="font-weight-normal mb-4">$50.90</h1>
                                            </div>
                                            <ul class="list-unstyled plan-features">
                                                <li>Dành cho các hộ kinh doanh vừa và nhỏ</li>
                                                <li>Báo cáo tài chính chi tiết và báo cáo thuế đầy đủ</li>
                                                <li>Quản lý kho và hàng hóa chuyên nghiệp</li>
                                                <li>Hỗ trợ nhiều người dùng đồng thời.</li>
                                                <li>Chức năng quản lý công nợ và thu chi linh hoạt</li>
                                                <li>Tích hợp hệ thống hóa đơn điện tử</li>
                                            </ul>
                                            <div class="wrapper">
                                                <a href="#" class="btn btn-success btn-block">Bắt đầu dùng thử</a>
                                            </div>
                                            <p class="mt-3 mb-0 plan-cost text-success">Mua ngay</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 grid-margin stretch-card pricing-card">
                                        <div class="card border border-primary pricing-card-body">
                                            <div class="text-center pricing-card-head">
                                                <h3>Doanh nghiệp</h3>
                                                <p>Kinh doanh tùy chỉnh</p>
                                                <h1 class="font-weight-normal mb-4">$80.90</h1>
                                            </div>
                                            <ul class="list-unstyled plan-features">
                                                <li>Tính năng toàn diện cho doanh nghiệp lớn</li>
                                                <li>Quản lý tài chính và báo cáo thuế tự động.</li>
                                                <li>Hỗ trợ quản lý hàng tồn kho đa kênh</li>
                                                <li>Hệ thống phân quyền người dùng linh hoạt</li>
                                                <li>Tích hợp báo cáo và hệ thống ERP</li>
                                                <li>Hỗ trợ khách hàng 24/7 và đào tạo miễn phí</li>
                                            </ul>
                                            <div class="wrapper">
                                                <a href="#" class="btn btn-outline-primary btn-block">Bắt đầu dùng thử</a>
                                            </div>
                                            <p class="mt-3 mb-0 plan-cost text-gray">Mua ngay</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- partial -->
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- row-offcanvas ends -->
</div>